[submodule "myaw-frontend"]
	path = myaw-frontend
	url = https://github.com/romanenkois/myaw-frontend.git
	branch = master

[submodule "myaw-main-api"]
	path = myaw-main-api
	url = ./myaw-main-api
	branch = master

[submodule "myaw-realtime"]
	path = myaw-realtime
	url = ./myaw-realtime
	branch = master

[submodule "myaw-ui"]
	path = myaw-ui
	url = ./myaw-ui
	branch = master
	
[submodule "myaw-cli"]
	path = myaw-cli
	url = https://github.com/romanenkois/myaw-cli.git
	branch = master
	
[submodule "myaw-backend"]
	path = myaw-backend
	url = ./myaw-backend
[submodule "myaw-contracts"]
	path = myaw-contracts
	url = ./myaw-contracts
